<div class="new_recipe">
  <%= link_to "Create Inventory", "/inventories/new" %>
</div>
<div class="recipes_container">
  <%@inventories.each do |inventory|%>
    <div class="recipe_container">
      <div class="title_container">
        <h2>
          <%=link_to inventory_path(inventory.id), :class => 'title_anchor' do%><%= inventory.name%><%end%>
        </h2>

          <%= button_to 'Remove', inventory_path(inventory.id), method: :delete, class: "delete_btn" %>

      </div>
      <div class="description_container">
        <p><%= inventory.description %></p>
      </div>
    </div>
  <%end%>
  <p></p>
</div>
