<h1>New Inventory</h1>
<%= form_with url: "/inventories", method: :post, scope: :inventory, class:"form" do |form| %>
  <div class="field">
    <%= form.label :Name%> <br>
    <%= form.text_field :name%>
  </div>
  <div class="field">
    <%= form.label :Description%> <br>
    <%= form.text_area :description%>
  </div>
  <div class="actions"><%= form.submit %></div>
<%end%>
