<h1 class="title"><%= @inventory.name %></h1>
<div class="buttons">
  <%= link_to "Add Food", new_inventory_inventory_food_path(@inventory), class:"add_ingredient" %>
</div>
<hr>
<div class="food-container">
  <table class="food-table">
    <thead>
      <tr >
        <th class="col">Food</th>
        <th class="col">Quantity</th>
        <th class="col">Actions</th>
      </tr>
    </thead>
    <tbody>

    <% @inventory.inventory_foods.includes([:food]).each do |food| %>
      <tr >
        <td><%= food.food.name %></td>
        <td><%= "#{food.quantity}" "#{food.food.measurement_unit}" %></td>
        <td class="buttons">
          <%= button_to "Remove", inventory_inventory_food_path(@inventory, food), method: :delete , class:"delete" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
