<p style="color: green"><%= notice %></p>
<%= link_to "back", groups_path %>


<div class="total">
<span>Total: <%= @total%></span>
</div>

<ul id="purchases" class="group">
  <% @purchases.each do |purchase| %>
    <%= render purchase %>
    
  <% end %>
  <div class='footer-btn tran-foot'>
  <%= link_to "add new Transaction", new_group_purchase_path %>
  </div>
</ul>